body{
    background-color: black;
    
}
.header{
    max-width: 1350px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -2px;
        text-transform: uppercase;
        color: #FAFAF9;
    }
    &__nav-link{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FAFAF9;
        text-decoration: none;
        margin: 20px;
    }
}
.main{
    max-width: 890px;
    height: 800px;
    animation: main 1s linear;
    &__H{
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 800;
        font-size: 172px;
        line-height: 170px;
        letter-spacing: -2px;
        text-transform: uppercase;
        color: #FAFAF9;
        margin: 0 0 45px 0;
    }
    &__text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: rgba(239, 237, 232, 0.65);
        width: 560px;
        height: 48px;
        margin: 0 0 50px 0;
    }
    &__button{
        width: 200px;
        height: 70px;
        background: #E6533C;
        border-radius: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 0 112px 0;
        animation: button 2s linear;
        cursor: pointer;
    }
    &__text-2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1px;
        color: rgba(239, 237, 232, 0.65);
        margin: 0 0 33px 0;
    }
}
@keyframes button{
    0%{
        transform: translateX(-2000px);
    }
}
@keyframes main{
    0%{
        transform: translateX(-1000px);
    }
}
.div{
    max-width:1350px ;
    height: 2700px;
    position: relative;
    margin:120px auto;
    overflow: hidden;
    position: relative;
    &__box{
        width: 700px;
        height: 500px;
        position: absolute;
        top: 10px;
        right: 40px;
    }
    &__box-img-1{
        position: absolute;
        right:450px ;
        top: 420px;
        z-index: 2;
        animation: img_1 3s linear;
    }
    &__box-img-2{
        position: absolute;
        top: 520px;
        right: 0px;
        animation: img_1 4s  linear;
    }
    &__box-img-3{
        position: absolute;
        top: 50px;
        right: 100px;
        animation: img_1 5s linear;
    }
    &__box-img-4{
        position: absolute;
        top: 90px;
        right: 140px;
        z-index: 1;
        animation: img_2 1s linear;
    }
}
@keyframes img_2{
    0%{
        transform: translateX(1000px);
    }
}
@keyframes img_1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.main__checkbox[type="checkbox"]:checked ~ .video__con {
    display: block;
}
.video__con{
    width:800px ;
    height: 700px;
    display: none;
    position: absolute;
    top:0;
    right: 0;
    z-index: 100;
    background-color: rgb(25, 24, 24);
    border: 1px solid #ffffff;
    animation: con 1s linear;
}
@keyframes con{
    0%{
        transform: translateY(-1000px);
    }
}
.main__checkbox{
    display: none;
}
.text-2 {
    max-width: 810px;
    height: 90px;
    margin-top: 200px;
}
.t-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.3px;
    color: #FAFAF9;
}
.t-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(239, 237, 232, 0.65);
}
.box {
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__con{
        width: 250px;
        height: 190px;
        background: #323443;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 20px;
    }
    &__con:nth-child(2){
        background: #232532;
    }
    &__con:nth-child(3){
        background: #323443;
    }
    &__con:nth-child(4){
        background: #4F5261;
    }
    &__con-text-1{
        margin: 53px 0 12px 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #FAFAF9;
    }
    &__con-text-2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.3px;
        color: rgba(239, 237, 232, 0.65);
    }
}
.photo__box {
    height: 1180px;
    width: 1235px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_1{
        height: 539px;
        width: 1235px;
        display: flex;
        justify-content: space-between;
        &-1-text_con{
            width: 526px;
            height: 539px;
        }
    }
    &_2{
        height: 539px;
        width: 1235px;
        display: flex;
        justify-content: space-between;
    }
    &_1-con_img{
        width: 674px;
        height:539px ;
    }
}
.text__photo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.3px;
    color: #FAFAF9;
    width: 591px;
}
.info__photo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(239, 237, 232, 0.65);
    width: 480px;
}
.more {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #0070C9;
    text-decoration: none;
}
@media(max-width:991px){
    .div{
        height: 3300px;
        &__box{
            display: none;
            position: relative;
        }
    }
    .main{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 500px;
        &__H{
            margin:  0 auto;
            text-align: center;
        }
        &__text{
            margin: 0 auto;
            text-align: center;
        }
    }
    .video__con{
        position: absolute;
        left: 100px;
        top: 600px;
    }
    .text-2{
        margin: 0 auto;
        text-align: center;
    }
    .box{
        flex-wrap: wrap;
        width: 600px;
        height: 500px;
        margin: 50px auto;
    }
    .photo__box{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 700px;
        &-1-text_con{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &_1{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &_2{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}
@media(max-width:761px){

}